body {
    font-family: "Open Sans";
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    overflow: hidden;
    background: ##FFC300;
    color: #00BBFF;
    margin: 0;
    padding: 0;
}

header h1 {
    float: left;
    margin: 0;
    font-weight: 600;
    padding: 5px;
}

header h1 a {
    text-decoration: none;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header nav ul li {
    list-style: none;
    display: inline-block;
    margin: 5px;
}

header nav ul li a {
    border: 1px solid white;
    border-radius: 5px;
    display: block;
    margin: 5px;
    padding: 5px;
}
